
h1 { 
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: #28354a;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #28354a;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #222222;
}

.contacts {
    display: flex; 
    justify-content: space-between; /* Makes space between the left and right side */
    align-items: flex-start; /* Aligns both the right and left side */
}

.right_side{
    text-align: right; 
}

aside {
    float: right;
    margin-right: 20px;
}

#summary {
    width: 800px;
}